html {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
button:hover,
span:hover {
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background: -webkit-linear-gradient(
    to top,
    #a044ff,
    #6a3093
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #be2eea, #0a0f5b);

  opacity: 0.9;
}
.current {
  display: flex;
  flex-direction: row-reverse;
  padding: 5vw 8vw;
}
.icon {
  margin-left: auto;
  text-align: center;
}
canvas {
  width: 100%;
}
.daily {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 4vh;
  padding: 0 2%;
}
.day {
  display: flex;
  flex-direction: column;
  margin: 0.5px;
  min-width: 150px;
  text-align: center;
  background-color: rgba(242, 244, 247, 0.3);
}
.day h3 {
  margin-top: auto;
}

.green {
  color: green;
  background-color: white;
  border-radius: 20%;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  .daily {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main h1 {
    font-size: 1.3em;
  }
  .main h2 {
    font-size: 1.1em;
  }

  .icon h2 {
    font-size: 1.1em;
  }
  .tempVal {
    font-size: 1.3em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
